.hero {
  height: 400px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

.background {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.695),
      rgba(161, 161, 161, 0.518)
    ),
    url("../../images/hero.jpg");
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
  filter: blur(4px);
}

.heroText {
  font-size: 60px;
  font-weight: bold;
  font-family: "Inter Tight Semibold";
  text-transform: uppercase;
  text-align: left;
  position: absolute;
}
