.section {
  position: relative;
  height: 180px;
}

.section h2 {
  width: 100%;
  position: absolute;
  z-index: -1;
  text-align: center;
  color: rgba(245, 245, 245, 0.05);
  font-family: Inter Tight Black;
  font-size: 120px;
  line-height: 1;
  text-transform: uppercase;
  transform: translateX(-50%);
  left: 50%;
  text-wrap: nowrap;
}

.section ul {
  height: 100%;
  display: flex;
  /* gap: 20px; */
  align-items: center;
  justify-content: space-between;
}
.section ul li {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  & a {
    line-height: 1;
  }
}

.section ul li svg {
  width: 88px;
  height: 88px;
  fill: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 10px;

  &:hover {
    border-color: var(--accent-color);
  }
}
